@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(bg-desktop.svg);
  background-repeat: no-repeat;
  background-color: var(--violet);
  background-size: cover;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.box {
  display: flex;
  justify-content: center;
  position: relative;
  top: 4em;
}

.box-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-list {
  display: flex;
  gap: 25px;
  justify-content: right;
  margin: 3em;
  position: sticky;
  top: 100%;
}

.logo-list div {
  border-radius: 50px;
  border: solid white;
  display: flex;
  height: 30px;
  justify-content: center;
  padding: 20px;
  transition: all .2s ease-in-out;
  width: 30px;
}

.logo-list a:hover {
  color: var(--soft-magenta);
}

.logo-list div:hover {
  border: solid var(--soft-magenta);
}
.body-text {
  max-width: 40em;
  margin-left: 4em;
}

.body-text h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  text-transform: capitalize;
}

.body-text p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin-top: 25px;
}

.button button {
  background: white;
  border-radius: 30px;
  border: none;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.57);
  color: var(--violet);
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 2em;
  padding: 1em 5em;
  transition: all 0.20s ease-in-out;
}

.logo-list a {
  color: white;
  text-decoration: none;
}

.button button:hover {
  background: var(--soft-magenta);
  color: white;
}

@media all and (max-width: 1000px) {
  .main-image img {
    width: 32em;
  }

  .body-text h1 {
    font-size: 30px;
  }

  .body-text p {
    font-size: 14px;
  }

  .body-text {
    margin-left: 2em;
  }
}

@media all and (max-width: 800px) {
  .box {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .main-image img {
    width: 26em;
  }

  .body-text {
    min-height: 20em;
    max-width: 100%;
    margin: 0;
    padding: 2em 4em 0 4em;
  }

  .body-text p {
    line-height: 25px;
  }

  .logo-list {
    margin-bottom: 1em;
  }
}
